<hello name="{{ name }}"></hello>

<div class="swaptext">
<br>{{ lines[0] }}<br>
<br>{{ lines[1] }}<br>
<br>{{ lines[2] }}<br>

<scrambleButtons name="{{ lines[0] }}"></scrambleButtons>

<!-- <style>
   .orange { 
      background-color: orange; 
    }
    .blue { background-color: #007bff; }
</style>

    <div style="font-size : 30px; width: 100%; height: 55px;">
    <ng-container>
    <button *ngFor="let item of lines[0].split(''); index as i;let odd=odd; let even=even" (click)="scramble(i)"
    class="btn btn-sm btn-primary"
    [ngClass]="{orange: odd, blue:even}">^</button>
    </ng-container>
    </div>-->
</div> 

<div>
    <p *ngIf="deviation>0" class="alert alert-warning">You didn't guess the phrase yet. Keep trying!</p>
    <p *ngIf="deviation===0" class="alert alert-success">Yes! That's it.</p>
</div>

<p class="text-info">No of clicks :
    <span class="badge">{{noOfTries}}</span>
</p>




